body {
    font-family: Arial, sans-serif;
    background-color: #d4e2f0;
    margin: 0;
    padding: 0;
}

.dashboard {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 100vh;
}

.dashboard .header {
    background-color: #477bc7;
}


.search-box {
    display: flex;
    margin-bottom: 20px;
}

.search-box input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-box button {
    padding: 10px 20px;
    border: none;
    background-color: #477bc7;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.current-location {
    text-align: center;
    margin: 10px 0 20px 0;
}

.current-location button {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #b0b0b0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.weather-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #88a8d6;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.weather-info div {
    flex: 1;
}

.weather-info img {
    width: 60px;
}

.forecast {
    display: flex;
    justify-content: space-between;
}

.forecast .day {
    background-color: #b0b0b0;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
    margin-right: 10px;
    text-align: center;
    color: #fff;
}

.forecast .day:last-child {
    margin-right: 0;
}

.forecast .day p {
    margin: 5px 0;
}